<h2>Criar múltiplos processos</h2>
<%= form_tag({controller: "fake_processes", action: "create_multiple"}, method:'post') do |f| %>

  <div class="field">
    <%= label_tag :default_name, "Nome Padrão" %><br>
    <%= text_field_tag :default_name, nil, class: "form-control input-lg" %>
  </div>
  
  <div class="field">
    <%= label_tag :quantity, "Quantidade" %><br>
    <%= number_field_tag :quantity, nil, class: "form-control input-lg" %>
  </div>

  <div class="actions">
    <%= submit_tag("Criar Processos", class: 'btn btn-success btn-lg') %>
  </div>
<% end %>



<h1>Lista de Processos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Done</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fake_processes.each do |fake_process| %>
      <tr>
        <td><%= fake_process.name %></td>
        <td><div class="alert <%= fake_process.done ? 'alert-success' : 'alert-warning' %>"> <%= fake_process.done%></td></div>
        <td><%= link_to 'Show', fake_process, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_fake_process_path(fake_process), class: 'btn btn-success'%></td>
        <td><%= link_to 'Destroy', fake_process, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<%= link_to 'Novo Processo', new_fake_process_path, class: "btn" %>

